# -*- mode: conf -*-

# Up will go back one command.

"\e[A":history-search-backward

# Down will go forward one command.

"\e[B":history-search-forward

# Ignore case while completing a filepath.

set completion-ignore-case On

